<h1>Guest List</h1>
<input ng-model="search" placeholder="Search guest by full name" class="width-30" />
<table class="table-container">
	<thead>
		<caption>({{list.guests.currentGuests.length}}) Current guests</caption>
		<tr>
			<th>Profile Picture</th>
			<th>
				Surname
			</th>
			<th>
				Family name
			</th>
			<th>
				Mode
			</th>
			<th>	
				Room
			</th>
			<th>
				Visiting
			</th>
		</tr>
	</thead>
	<tbody>
            <tr ng-repeat="guest in list.guests.currentGuests | searchField: 'surname': 'familyname' | filter: search | orderBy:'in' track by guest._id"
                ng-click="list.openCurrentModal(guest)">
			<td><img ng-src="{{guest.image}}"/></td>
			<td>{{guest.surname}}</td>
			<td>{{guest.familyname}}</td>
			<td>{{guest.mode}}</td>
			<td>{{guest.room}}</td>
			<td>
				{{guest.in | date: 'fullDate'}} | nights: {{guest.out|amDifference:guest.in:'days'}} | {{guest.out | date: 'fullDate'}}
			</td>
		</tr>
	</tbody>
</table>

<table class="table-container">
    <thead>
        <caption>({{list.guests.arrivingGuests.length}}) Arriving guests</caption>
		<tr>
			<th>Profile Picture</th>
			<th>
				Surname
			</th>
			<th>
				Family name
			</th>
			<th>
				Mode
			</th>
			<th>	
				Room
			</th>
			<th>
				Visiting
			</th>
        </tr>
    </thead>
	<tbody>
             <tr ng-repeat="guest in list.guests.arrivingGuests | searchField: 'surname': 'familyname' | filter: search | orderBy:'in' track by guest._id"
                 ng-click="list.openFutureModal(guest)">
			<td><img ng-src="{{guest.image}}"/></td>
			<td>{{guest.surname}}</td>
			<td>{{guest.familyname}}</td>
			<td>{{guest.mode}}</td>
			<td>{{guest.room}}</td>
			<td>
				{{guest.in | date: 'fullDate'}} | nights: {{guest.out|amDifference:guest.in:'days'}} | {{guest.out | date: 'fullDate'}}
			</td>
		</tr>
	</tbody>
</table>