<div class="container">
	<form id="loginform" name="loginForm" role="form" class="forms center" novalidate>
		<fieldset>
			<legend>Guestdo login</legend>
			<label>
				Username <span class="req">*</span>
				<input ng-model="user.username" class="width-50" type="email" name="mail"
				ng-class="{error: (loginForm.mail.$invalid && loginForm.mail.$dirty)}"
				required />
			</label>
			<label>
				Password <span class="req">*</span>
				<input ng-model="user.password" class="width-50" type="password" name="pass"
				ng-class="{error: loginForm.pass.$invalid && loginForm.pass.$dirty}"
				required minlength="5" />
			</label>
		</fieldset>
		<p>
			<button ng-click="login.login(user)" type="submit" ng-disabled="loginForm.$invalid" 
					class="btn btn-blue">
						Log in
			</button>
			<button ui-sref="forgot" class="btn btn-green">
				Forgot password
			</button>
		</p>
	</form>
</div>
