<header class="group">
	<nav class="navbar navbar-left">
		<ul>
			<li><a ui-sref="frontdesk.guests">Guest list</a><li>
			<li><a ui-sref="frontdesk.roomservice">Room service</a><li>
			<!--<li><a ui-sref="frontdesk.history">History</a></li>-->
		</ul>
		<span>{{frontdesk.hotelname}}</span>
        <span>{{frontdesk.address}}</span>
	</nav>
	<nav class="navbar navbar-right">
		<ul>
			<li><a href ng-click="frontdesk.openSettings()">Settings</a></li>
			<li><a href ng-click="frontdesk.logout()">Log out</a></li>
		</ul>
	</nav>
</header>

<div ui-view></div>

<footer class="bugreport">
    <button class="btn btn-smaller btn-red" ng-click="frontdesk.openBugReport()">Make bug report</button>
</footer>