<div class="container">
	<form name="settingsForm" role="form" class="forms" novalidate>
		<fieldset>
			<legend>Settings</legend>
			<label>
				Hotel name<br>
				<input name="settingsName" ng-model="settings.settings.name" class="width-50"/>
			</label>
			<label>
				Hotel address<br>
				<input name="settingsAddress" ng-model="settings.settings.address" class="width-50"/>
			</label>
		</fieldset>
		<p>
			<button ng-disabled="!settingsForm.settingsName.$dirty && !settingsForm.settingsAddress.$dirty"
                    ng-click="settings.update(settings.settings)"
                    type="submit" class="btn btn-green">OK</button>
			<button ng-click="settings.close()" class="btn btn-red">Close</button>
		</p>
	</form>
</div>